<nav>
  <div class="site-title">
    <a href="/"> <h1><img src="drop.jpg" alt="my photo" style="width: 7%;">Kanyesaro Luc G. </h1></a> 
    <span>A Software Developer ( MERN )</span>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Experirnce</a></li>
  </ul>
</nav>